.section-clients{
    padding-top: 94px;
    padding-bottom: 88px;
}


.icon-clients{
fill: #AFB1B8;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-clients-list{
    display: flex;
    justify-content: center;
    gap: 30px;

    
}
.icon-clients-link{
    width: 170px;
    height: 92px;
    display: flex;
    justify-content:center ;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    &:hover svg,
    &:focus svg{
    fill: #2196F3;
}

    &:hover ,
    &:focus {
    border-color: #2196F3;
} 

}

