.header-portf {
    border-bottom: 1px solid #ECECEC;
    
}












.project__project-it {
    color: #757575;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 4px;

}




