html,
body {
    width: 100%;
    height: 100%;
}



.page {
    background-color: #ffffff;
    color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;

}

.header {
    background-color: #FFFFFF;


}

body {
    background-color: #E5E5E5;
}

h2,
h3,
h4,
p,
h1 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* утилита */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Логотип */
.main-nav .logo {
    color: #212121;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;


}

.logo {
    margin-right: 90px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logoweb {
    color: #2196F3;

}

.animation{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}


/* =====================Навигация======================= */

.main-nav {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.site-nav {
    display: flex;
    align-items: center;
    


}

.site-nav .link {

    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link.current {
    color: #2196F3;
}
.current{
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}


.items:not(:last-child) {
    margin-right: 40px;
}

.current-page::after{
    position: absolute;
    content: "";

    bottom: 0;
    
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    

}





/* =============Контакты=============== */

.contact-list a {
    color: #757575;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;


}

.contact-list {
    display: flex;
    margin-left: auto;
}
.link-envelope{
    padding: 0;
    border: 0;
    fill:#757575;
    
}
.icon-envelope{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smartphone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-smartphone{
    padding: 0;
    border: 0;
    fill:#757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-smartphone::before {
    content: "";
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}
.link-contact:hover ,
.link-contact:focus {
    color: #2196F3;
}
.link-contact:hover svg,
.link-contact:focus svg{
    fill: #2196F3;
}

/* =========Кнопка============== */

.section-hero .button {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    color: #ffff;
    background-color: #2196F3;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 5px;
    border: #2196F3;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero .button:hover,
.section-hero .button:focus {
    background-color: #188CE8;
}

/* ===============секции Герой============ */
.hero-fon {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Hero/Imghero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

}

.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

    background-color: #C4C4C4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
}

.section-titel-board {
    margin-bottom: 30px;

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;


}

/* =============Особинности================= */

.section-futures {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    color: #212121;
    list-style: none;
}

.features-list {
    display: flex;
    gap: 30px;
}

.titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.titel-list {
    width: 270px;
    height: 75px;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
}

.titel-details::before {
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: block;
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.icon-details::before {
    content: '';
    background-image: url('../images/Icon/antenna1.png');
}

.icon-clock::before {
    content: '';
    background-image: url('../images/Icon/clock1.png');
}

.icon-diagram::before {
    content: '';
    background-image: url('../images/Icon/diagram1.png');
}

.icon-astronaut::before {
    content: '';
    background-image: url('../images/Icon/astronaut1.png');
}

/* =============Чем занимаемся============== */
.section-work {
    padding-bottom: 94px;
}

.lessons {
    list-style: none;
    display: flex;
    gap: 30px;

}

.section-titel {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.product-work{
    position: relative;

}

.titel-product-work{

color: #FFFFFF;
padding-top: 27px;
padding-bottom: 27px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
    
}
.titel-product{
    display: inline-block;
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    
    
    bottom: 0;
    
    
}
/* ================Команда================== */
.team-section {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    list-style: none;
    display: flex;

    gap: 30px;
}

.team-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 14px;
}

.name-work {
    text-align: center;
    margin-bottom: 16px;
}

.command-flame {
    padding-top: 30px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.work {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}




.list-icon-messenger{
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}

.icon-messenger-link  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-messenger{
    width: 22px;
    height: 22px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-messenger-link:hover, 
.icon-messenger-link:focus{
    background-color: #2196F3;
}

.icon-messenger-link:hover .icon-messenger,
.icon-messenger-link:focus .icon-messenger{
    fill: #ffffff;
}

/* ============Постоянные Клиенты==========  */
.section-clients{
    padding-top: 94px;
    padding-bottom: 88px;
}


.icon-clients{
fill: #AFB1B8;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-clients-list{
    display: flex;
    justify-content: center;
    gap: 30px;

    
}
.icon-clients-link{
    width: 170px;
    height: 92px;
    display: flex;
    justify-content:center ;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
}
.icon-clients-link:hover svg,
.icon-clients-link:focus svg{
    fill: #2196F3;
    
    
    
}

.icon-clients-link:hover ,
.icon-clients-link:focus {
border-color: #2196F3;
} 





/* ====================Подвал================== */
.footer-all {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    
}


.footer-addres-block{
    margin-right: 70px; 
}


.footer {
    list-style: none;
    font-style: normal;

}

.logofooter {
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer .contacts:hover,
.footer .contacts:focus {
    color: #2196F3;
}

.adress:hover,
.adress:focus {
    color: #2196F3;
}

.adress {
    color: #FFFFFF;


    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

    
}




.contacts {
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-adress:not(:last-child) {
    margin-bottom: 9px;
}
.address-footer{
    display: flex;
    align-items: baseline;
}
.footer-block{
    display: flex;
    align-items: baseline;
    
}

.мessenger-block{
    width: 206px;
    height: 80px;
    margin-right: 93px;
}


.list-мessenger{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;

}

.title-мessenger-footer{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.14;
}

.icon-messenger-link-footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background:rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-messenger-footer{
    width: 22px;
    height: 22px;
    fill: #ffffff;
    
}
.icon-messenger-link-footer:hover, 
.icon-messenger-link-footer:focus{
    background-color: #2196F3;
}

.icon-messenger-link-footer:hover .icon-messenger,
.icon-messenger-link-footer:focus .icon-messenger{
    fill: #ffffff;
}

.form-titel-footer{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;


    margin-bottom: 20px;
}

.form-block-footer{
    width: 570px;
    height: 86px;
    
}
.form-footer{
    width: 570px;
    height: 86px;
    display: flex;
}
.footer-form-input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(47, 48, 58,1);
    padding: 15px 16px;
}

.form-btn-footer{
    position: relative;
    margin-left: 12px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    width: 200px;
    height: 50px;

    color: #ffff;
    background-color: #2196F3;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 62px;
    border-radius: 5px;
    border: #2196F3;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-block{
    

}

.footer-icon-send{
    position: absolute;
    width: 24px;
    height:24px;
    top: 50%;
    right: 28px;

    transform: translateY(-50%);
}

/* <!======-- Модальное Окно --=====> */


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal{

    background-color: #ffffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 40px;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal-close{
    position: absolute;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;



}

.modal-close-icon{
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.modal-close .modal-close-icon:hover,
.modal-close .modal-close-icon:focus{
    fill: #2196F3;
}

.modal-titel{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;

    
    text-align: center;
}
.form{

    margin-left: auto;
    margin-right: auto;
}
.form-block{
    margin-bottom: 20px;
}
.form-label{
    display: block;
    cursor: pointer;
}

/* .form-input-focus */

.form-field{
    
    display: flex;
    flex-direction: column;

}

.form-field input{

    /* margin-bottom:10px ; */
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.form-field label{
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
    width: 100%;
    

}


.form-field textarea::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

}


.comment{
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 10px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.input-icon{
    position: relative;
}
.icon-name-modal{

    position: absolute;
    top: 50%;
    left: 15px;
    transform:translateY(-50%) ;
    width: 12px;
    height: 12px;
    display: inline-block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    

}
.input-icon{
    margin-bottom: 10px;
    
}
.icon-tel-modal{
    width: 13px;
    height: 13px;
}
.icon-mail-modal{
    width: 15px;
    height: 12px;
}




textarea{
    resize: none;
}
.form-field-checkbox{
    
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
    display: flex;
    margin-bottom: 30px;
}
.checkbox {
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    border: none;
    border-radius: none;
}

.checkbox:checked + .policy::before{
background-color: #2196F3;
background-image: url(../images/Icon/galochka.svg);
background-repeat: no-repeat;
background-position: center;
border: none;
}


.policy::before{
    content: "";

    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    text-align: center;
    cursor: pointer;
}
.policy{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.checkbox:focus + .policy::before{
    outline: 2px solid rgba(33, 150, 243,1);
}
.form-policy{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 26px;
    margin-top: 20px ; */
}

.form-input{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-form{
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    width: 200px;
    height: 50px;

    color: #ffff;
    background-color: #2196F3;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 5px;
    border: #2196F3;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-link{
    color: #2196F3;
}

.form-input:focus ~ .icon-name-modal,
.form-input:hover ~ .icon-name-modal{
    fill: #2196F3;
    
}

.form-input:hover,
.form-input:focus{
    border-color: #2196F3;
    outline: none;
}

.comment:focus,
.comment:hover{
    border-color: #2196F3;
    outline: none;
}


/* ------------------------------------------------------------------------------------- */




/*===================Портфолиo================*/
.header-portf {
    border-bottom: 1px solid #ECECEC;
    
}


.project {
    list-style: none;

}

.project:hover ,
.project:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

h2 {
    color: #212121;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    

}


.project-it {
    color: #757575;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 4px;

}

.project-potf {
    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}


.port-button {
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: center;
    

}

.project-link {
    text-decoration: none;
    position: relative;

}

.project-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    background-color: #2196F3;
}

.sectionport {
    color: #E5E5E5;
    padding-top: 92px;
    padding-bottom: 96px;
}

/* Кнопки Навигации */
.portf-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.82;


    background: #F5F4FA;
    border-radius: 3px;
    border: #F5F4FA;
    padding: 6px 22px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-button:focus,
.portf-button:hover {
    background-color: #2196F3;
    color: #ffffff;
}

.portf-button:focus , .portf-button:hover {
    background: #2196F3;
    cursor: pointer;
}

/* Оформление карточек */

.product-card{
    position: relative;
    overflow:hidden ;
}


.project-text{
    position: absolute  ;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 255ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 63px; 
    padding-bottom: 63px;  
    padding-left: 23px;
    padding-right: 23px;
    background: rgba(33, 150, 243, 0.9);

    
} 
.project-link:hover .project-text,
.project-link:focus .project-text{
    transform: translate(0,0);
}