html,
body {
    width: 100%;
    height: 100%;
}



.page {
    background-color: #ffffff;
    color: #212121;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;

}

.header {
    background-color: #FFFFFF;


}

body {
    background-color: #E5E5E5;
}

h2,
h3,
h4,
p,
h1 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* утилита */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Логотип */
.main-nav .logo {
    color: #212121;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;


}

.logo {
    margin-right: 90px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logoweb {
    color: #2196F3;

}



/* =====================Навигация======================= */

.main-nav {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.site-nav {
    display: flex;
    align-items: center;


}

.site-nav .link {

    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

}

.link-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link.current {
    color: #2196F3;
}

.link-contact:hover,
.link-contact:focus {
    color: #2196F3;
}

.items:not(:last-child) {
    margin-right: 40px;
}

/* =============Контакты=============== */


.contact-list a {
    color: #757575;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;


}

.contact-list {
    display: flex;
    margin-left: auto;

}

.contact-list .link-contact {
    display: block;

}

.contact-list .link:hover,
.contact-list .link:focus {
    color: #2196F3;

}


/* =========Кнопка============== */
.section-hero .button {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    color: #ffff;
    background-color: #2196F3;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 5px;
    border: #2196F3;
    cursor: pointer;

}

.section-hero .button:hover,
.section-hero .button:focus {
    background-color: #188CE8;
}

/* ===============секции Герой============ */
.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
}

.section-titel-board {
    margin-bottom: 30px;

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;


}

/* =============Особинности================= */

.section-futures {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    color: #212121;
    list-style: none;
}

.features-list {
    display: flex;
    gap: 30px;
}

.titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.titel-list {
    width: 270px;
    height: 75px;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
}

/* =============Чем занимаемся============== */
.section-work {
    padding-bottom: 94px;
}

.Lessons {
    list-style: none;
    display: flex;
    gap: 30px;

}

.section-titel {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}


/* ================Команда================== */
.team-section {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    list-style: none;
    display: flex;

    gap: 30px;
}




.team-name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 14px;
}

.name-work {
    text-align: center;
}

.command-flame {
    padding-top: 30px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.work {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}

/* ====================Подвал================== */
.footer-all {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}





.footer {
    list-style: none;
    font-style: normal;

}

.logofooter {
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer .contacts:hover,
.footer .contacts:focus {
    color: #2196F3;
}

.adress:hover,
.adress:focus {
    color: #2196F3;
}

.adress {
    color: #FFFFFF;


    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}




.contacts {
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-adress:not(:last-child) {
    margin-bottom: 9px;
}

/* ------------------------------------------------------------------------------------- */

/*===================Портфолиo================*/
.header-portf {
    border-bottom: 1px solid #ECECEC;
}


.project {
    list-style: none;
}


h2 {
    color: #212121;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}


.project-it {
    color: #757575;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 4px;

}

.project-potf {
    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}


.port-button {
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: center;
}

.project-link {
    text-decoration: none;
}

.project-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    background-color: #2196F3;
}

.sectionport {
    color: #E5E5E5;
    padding-top: 92px;
    padding-bottom: 96px;
}

/* Кнопки Навигации */
.portf-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.82;


    background: #F5F4FA;
    border-radius: 3px;
    border: #F5F4FA;
    padding: 6px 22px;
    cursor: pointer;
}

.portf-button:focus,
.portf-button:hover {
    background-color: #2196F3;
    color: #ffffff;
}

.portf-button:focus .portf-button:hover {
    background: #2196F3;
    cursor: pointer;
}